

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<table>
    <tr>
        <th>movieId</th>
        <th>movieTitle</th>
        <th>imdbId</th>
        <th>movieDirector</th>
        <th>movieProtagonist</th>
        <th>movieGenre</th>
        <th>movieRank</th>
        <th>user_rating</th>
        <th>avg_rating</th>
        <th>total_people_rated</th>
        <th>Rated?</th>
        <th>Recommendation_rank</th>
    </tr>

{% for values in movieContent %}
    <tr>
        {% for key in values %}
        <td>
    {{key}}
             </td>
        {% endfor %}
        </tr>
{% endfor %}
</table>

{% endblock %}