<!DOCTYPE html>
<head>
  <title> Greeting App</title>
</head>
<body>
	<form>
	<input id='name-input' name ='input' type='text'></input>
	<button id='name-button'>Submit Name</button>
	<p id='greeting'></p>
	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	</form>
	<script>
	$("#name-button").click(function(event) {
	let message = { name: $("#name-input").val()}
	$.post('/hello', JSON.stringify(message), function(response){$("#greeting").text(message);
	console.log(response);
	});
	});
	</script>
</body>
</html>