<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Churn Prediction Model</h1>

<form  action=" http://127.0.0.1:5000/predict" method="post">
  <p>Please select the Delivery Quality: </p>
  <input type="radio" id="vbad1" name="delivery" value="vbad">
  <label for="vbad1">Very Bad</label><br>
  <input type="radio" id="bad1" name="delivery" value="bad">
  <label for="bad1">Bad</label><br>
  <input type="radio" id="good1" name="delivery" value="good">
  <label for="good1">Good</label><br>
  <input type="radio" id="vgood1" name="delivery" value="vgood">
  <label for="vgood1">Very Good</label>

  <br>

  <p>Please select Products Pricing: </p>
  <input type="radio" id="vbad2" name="price" value="vbad">
  <label for="vbad2">Very Bad</label><br>
  <input type="radio" id="bad2" name="price" value="bad">
  <label for="bad2">Bad</label><br>
  <input type="radio" id="good2" name="price" value="good">
  <label for="good2">Good</label><br>
  <input type="radio" id="vgood2" name="price" value="vgood">
  <label for="vgood2">Very Good</label>

  <br>

  <p>Please select Website Design and Ease of Use: </p>
  <input type="radio" id="vbad3" name="website" value="vbad">
  <label for="vbad3">Very Bad</label><br>
  <input type="radio" id="bad3" name="website" value="bad">
  <label for="bad3">Bad</label><br>
  <input type="radio" id="good3" name="website" value="good">
  <label for="good3">Good</label><br>
  <input type="radio" id="vgood3" name="website" value="vgood">
  <label for="vgood3">Very Good</label>
  <br>

  <p>Please select Product Quailty from the company: </p>
  <input type="radio" id="vbad4" name="product" value="vbad">
  <label for="vbad4">Very Bad</label><br>
  <input type="radio" id="bad4" name="product" value="bad">
  <label for="bad4">Bad</label><br>
  <input type="radio" id="good4" name="product" value="good">
  <label for="good4">Good</label><br>
  <input type="radio" id="vgood4" name="product" value="vgood">
  <label for="vgood4">Very Good</label>
  <br>

  <p>What is your loyalty level to this company: </p>
  <input type="radio" id="low" name="loyalty" value="low">
  <label for="low">Low</label><br>
  <input type="radio" id="medium" name="loyalty" value="medium">
  <label for="low">Medium</label><br>
  <input type="radio" id="high" name="loyalty" value="high">
  <label for="high">High</label>
  <br>
<p>Please select Security Level: </p>
  <input type="radio" id="vbad5" name="security" value="vbad">
  <label for="vbad5">Very Bad</label><br>
  <input type="radio" id="bad5" name="security" value="bad">
  <label for="bad5">Bad</label><br>
  <input type="radio" id="good5" name="security" value="good">
  <label for="good5">Good</label><br>
  <input type="radio" id="vgood5" name="security" value="vgood">
  <label for="vgood5">Very Good</label>
  <br>

  <p>Please select customer Service Satisfaction Level: </p>
  <input type="radio" id="vbad7" name="customerservice" value="vbad">
  <label for="vbad7">Very Bad</label><br>
  <input type="radio" id="bad7" name="customerservice" value="bad">
  <label for="bad7">Bad</label><br>
  <input type="radio" id="good7" name="customerservice" value="good">
  <label for="good7">Good</label><br>
  <input type="radio" id="vgood7" name="customerservice" value="vgood">
  <label for="vgood7">Very Good</label>
  <br>
  <br>
  <input type="submit" value="Submit Questionnaire">
</form>
	<div>
	<p style="font-weight: bold">Predictions</p>
	<p>Will this user churn? {{ result }}</p>
	</div>
</body>
</html>